## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/[Ll]ib/[Nn]et*/

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## VS / Rider
.vs/
.idea/
*.swp
*~
.vscode/

## macOS
.DS_Store

## Docker
docker-compose.override.yml

## User secrets
secrets.json
